body {
  margin: 0;
}

.navbar {
  overflow: hidden;
}

.navbar span {
  object-fit: contain;
  height: 40px;
  width: 40px;
  padding: 5px;
  margin: 5px 0 5px 5px;
  float: left;
  font-size: 30px;
  text-align: center;
  border: 2px solid #ddd;
  border-radius: 5px;
}

.navbar span:hover {
  background-color: #ccc;
}
